body {
    font-family: "Courier New", monospace;
    background-color: #f0f0f0;
    padding: 40px;
    line-height: 1.6;
}

.documento {
    background: white;
    padding: 30px;
    border: 3px solid black;
    max-width: 800px;
    margin: auto;
}

h1 {
    text-align: center;
    color: darkred;
    letter-spacing: 2px;
}

/* Oculta los guiones bajos como bloques negros */
.oculto {
    background-color: black;
    color: black; /* El texto no se ve */
    padding: 2px 6px;
    font-weight: bold;
}