*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* BACKGROUND DEL BODY */
body{
    background-image: url("https://thumbs.dreamstime.com/b/un-ordenador-port%C3%A1til-encima-de-una-mesa-madera-imagen-ai-generativa-paro-laptop-generativo-simulaci%C3%B3n-281423494.jpg"); /* tu imagen */
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* efecto parallax suave */
}

/* HERO */
.hero{
    height:100vh;
    background-image:url("hero.jpg");
    background-size:cover;
    background-position:center;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    color:white;
}


.hero h1{
    font-size:48px;
    font-weight:bold;
    max-width:900px;
    margin:auto;
}

.hero p{
    margin-top:20px;
    font-size:18px;
    max-width:700px;
    margin-left:auto;
    margin-right:auto;
}

/* DIVIDER */
.divider{
    width:60px;
    height:3px;
    background:#ff5a4f;
    margin:20px auto;
}

.divider.light{
    background:white;
}

/* BUTTON */
.btn-primary{
    display:inline-block;
    margin-top:25px;
    padding:14px 28px;
    background:#ff5a4f;
    color:white;
    text-decoration:none;
    border-radius:30px;
    font-weight:bold;
}

.btn-primary:hover{
    background:#e74c3c;
}

/* SECOND SECTION */
.info{
    background:#ff5a4f;
    color:white;
    text-align:center;
    padding:80px 20px;
}

.info h2{
    font-size:32px;
}

.info p{
    margin-top:20px;
    max-width:700px;
    margin-left:auto;
    margin-right:auto;
    font-size:18px;
}

/* LIGHT BUTTON */
.btn-light{
    display:inline-block;
    margin-top:30px;
    padding:14px 28px;
    background:white;
    color:#333;
    text-decoration:none;
    border-radius:30px;
    font-weight:bold;
}
