*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#ffd2b4; /* amarillo suave del anuncio */
}

/* CONTENEDOR PRINCIPAL */
.promo{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:60px 8%;
    gap:40px;
}

/* TEXTOS */
.textos{
    max-width:500px;
}

.textos h1{
    font-size:42px;
    font-weight:bold;
    color:#222;
    line-height:1.2;
}

.descripcion{
    margin-top:20px;
    font-size:18px;
    color:#333;
    line-height:1.5;
}

/* BOTONES */
.botones{
    margin-top:30px;
    display:flex;
    gap:15px;
}

.btn{
    padding:14px 26px;
    text-decoration:none;
    font-weight:bold;
    font-size:16px;
}

.btn.amarillo{
    background:#115392;
    color:#c6c6c6;
}

.btn.blanco{
    color:#3d3197;
}

.btn:hover{
    opacity:0.85;
}

.nota{
    margin-top:25px;
    font-size:14px;
    color:#333;
    line-height:1.5;
    max-width:420px;   
}

.nota a{
    color:#0077cc;
    text-decoration:underline;
}

/* IMAGEN */
.imagen img{
    width:480px;
    max-width:100%;
}

/* RESPONSIVE */
@media(max-width:900px){
    .promo{
        flex-direction:column;
        text-align:center;
    }

    .botones{
        justify-content:center;
    }
}
