
@font-face {
    font-family: 'Lobster';
    src: url('fonts/Lobster-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.titulo-fuente {
    font-family: 'Lobster', cursive;
}

.texto-fuente {
    font-family: 'Open Sans', sans-serif;
}